@import "../sass/materialize.scss";

h1, h2 {
  @extend .grey-text, .text-darken-3;
  //font-size: 3.0vw !important;
}

.header-img {
  height: 50%;
}

.text{
  font-size: 1vw;
}

.parallax-container {
    height: 700px;
}
