@import "../sass/materialize.scss";

@mixin nav-icon-spacing($marginRight) {
  margin: 10px $marginRight 10px 10px;
}

$dark-white: #e5e5e5;

h1, h2 {
  @extend .grey-text, .text-darken-3;
}

.text{
  font-size: 1.5rem;
}

.parallax-container {
    height: 700px;
}

/*.nav-icon-spacing {
  margin: 10px 10px 10px 10px;
}*/

.nav-list {
  color: $dark-white;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 240px;
  }

  li {
    display: inline-block;
  }

  #about-me{
    @include nav-icon-spacing(40px);
  }

  #portfolio{
    @include nav-icon-spacing(40px);
  }

  #blog{
    @include nav-icon-spacing(40px);
  }

  #contact-me{
    @include nav-icon-spacing(-40px);
  }

  .caption{
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .nav-list{
    display: none;
  }
}
